// Styling about me page
.abSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;

    // Styling the 3 sections
    #sec1, #sec2, #sec3 {
        height: 500px;
        width: 75%;
        padding-bottom: 15%;
    }

    // Styling the downlaod button
    #abBtn {
        color: $thirdcolor;
        text-decoration: none;
        border: 1px solid $thirdcolor;
        padding: 10px;
        margin-top: 2%;
        font-size: 20px;
    }

    #abBtn:hover {
        opacity: 75%;
    }

    // Styling social links
    .socialLinks {
        display: flex;
        flex-direction: row;
        padding-top: 5%;

        a { 
            text-decoration: none;
            color: $secondarycolor;

            .fa-linkedin-square {
                margin: 0%;
                padding-left: 30px;
            }

            .fa-github-square {
                margin: 0%;
                padding-right: 30px;
            }
        }
    } 
}