// Styling contact page
.contSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    // Styling contact page heading
    .contHeading {
        font-size: 60px;
    }

    // Styling contact sub heading
    .contSubHeading {
        margin: 0%;
        margin-bottom: 5%;
        padding: 0%;
        font-size: 35px;
    }

    // styling contact form
    .contForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 10%;
        padding-right: 10%;
        border: 3px solid $thirdcolor;
        border-radius: 1%;
        width: 50%;
        height: 600px;
        font-size: 35px;

        input {
            width: 100%;
            height: 5%;
            background-color: none;
            border: 3px solid $thirdcolor;
            border-radius: 5%;
            margin-top: 5%;
            font-size: 20px;
        }

        .submit {
            width: 150px;
            height: 50px;
            margin-bottom: 5%;
            font-size: 20px;
            background-color: $primarycolor;
            color: $thirdcolor;
        }

        .submit:hover {
            opacity: 75%;
            cursor: pointer;
        }

        textarea {
            width: 100%;
            height: 25%;
            background-color: none;
            border: 3px solid $thirdcolor;
            border-radius: 1%;
            margin-top: 5%;
            font-size: 20px;
        }
    }
}