// Resources
@import "./global/_colors.scss";
@import "./global/_breakpoints.scss";
@import "./global/_header.scss";
@import "./global/_footer.scss";

// Pages
@import "./pages/_home.scss";
@import "./pages/_about.scss";
@import "./pages/_work.scss";
@import "./pages/_blog.scss";
@import "./pages/_contact.scss";

@media screen and (max-width: $tablet) {
    body {
        background-color: red;

        header {
            .logo {
                #title {
                    a {
                        font-size: 20px;
                    }
                }
            }

            nav {
                ul {
                    li {
                            padding-right: 30px;
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        main {

        }

        footer {
            .navbar {
                padding-left: 0%;
                ul{
                    li {
                        font-size: 16px;
                    }
                }    
            }

            #footLogo {
                font-size: 30px;
            }

            .navbar2 {
                padding-right: 0%;
                ul{
                    li {
                        font-size: 16px;
                    }
                }    
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    body {
        background-color: aqua;

        header {
            .logo {
                #title {
                    a {
                        font-size: 18px;
                    }
                }
            }

            nav {
                ul {
                    li {
                            padding-right: 20px;
                        a {
                            font-size: 11px;
                            
                        }
                    }
                }
            }
        }

        main {
            h1 {
                font-size: 1px;
            }

            h2 {
                font-size: 1px;
            }
        }

        footer {
            .navbar {
                padding-left: 0%;
                ul{
                    li {
                        font-size: 11px;
                    }
                }    
            }

            #footLogo {
                font-size: 25px;
            }

            .navbar2 {
                padding-right: 0%;
                ul{
                    li {
                        font-size: 11px;
                    }
                }    
            }
        }
    }

    
}